##Домашняя работа № 2 Коллаборативная фильтрация

##Датасет MovieLens 1M

In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm

In [2]:
# загрузим данные
!wget 'https://files.grouplens.org/datasets/movielens/ml-latest-small.zip'

--2025-01-28 11:16:30--  https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘ml-latest-small.zip’

ml-latest-small.zip 100%[===================>] 955.28K  4.22MB/s    in 0.2s

2025-01-28 11:16:30 (4.22 MB/s) - ‘ml-latest-small.zip’ saved [978202/978202]

In [3]:
# распакуем
import zipfile

with zipfile.ZipFile('/content/ml-latest-small.zip', 'r') as zip_ref:
    zip_ref.extractall('unpacked_files')

In [4]:
# прочитаем
links = pd.read_csv('/content/unpacked_files/ml-latest-small/links.csv')
movies = pd.read_csv('/content/unpacked_files/ml-latest-small/movies.csv')
ratings = pd.read_csv('/content/unpacked_files/ml-latest-small/ratings.csv')
tags = pd.read_csv('/content/unpacked_files/ml-latest-small/tags.csv')

In [5]:
# посмотрим
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

##Surprise

https://surpriselib.com/

Алгоритмы https://surprise.readthedocs.io/en/stable/prediction_algorithms_package.html

In [9]:
# установим
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl.metadata (327 bytes)
Collecting scikit-surprise (from surprise)
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 kB 2.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise->surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise->surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise->surprise) (1.13.1)
Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp311-cp311-linux_x86_64.whl size=2505163 sha256=3fed4912159a6dd032c15431324b8577b67d513f409cba77c07951449b1c1905
  Stored in directory: /root/.cache/pip/wheels/2a/8f/6e/7e2899163e2d85d8266daab4aa1cdabec7a6c56f83c015b5af
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.4 surprise-0.1

In [25]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

Соберем и исследуем наш датасет

In [10]:
# соберем наш датасет
movies_with_ratings = movies.merge(ratings, on='movieId').reset_index(drop=True)
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [11]:
# проверим на пропуски
movies_with_ratings.isna().sum()

movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
dtype: int64

In [12]:
# проверим на нулевые значения
movies_with_ratings.isnull().sum()

movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
dtype: int64

In [21]:
# посмотрим на наши рейтинги
movies_with_ratings['rating'].value_counts().sort_values()

rating
0.5     1370
1.5     1791
1.0     2811
2.5     5550
2.0     7551
4.5     8551
3.5    13136
5.0    13211
3.0    20047
4.0    26818
Name: count, dtype: int64

In [22]:
# соберем наш датасет
dataset = pd.DataFrame({'uid': movies_with_ratings.userId,
                        'iid': movies_with_ratings.title,
                        'rating': movies_with_ratings.rating
})
dataset.head(1)

   uid               iid  rating
0    1  Toy Story (1995)     4.0

In [23]:
# еще раз посмотрим на рейтинги
ratings.rating.min(), ratings.rating.max()

(0.5, 5.0)

In [28]:
# сформируем объект surprise
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [29]:
# разобъем на выборки
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

In [32]:
# посмотрим, что это
trainset, testset, type(testset)

(<surprise.trainset.Trainset at 0x7c10eafd4850>,
 [(217, 'Fly Away Home (1996)', 4.0),
  (184, 'Escape Plan (2013)', 4.0),
  (263, 'Secretary (2002)', 4.5),
  (414, 'Dark Blue World (Tmavomodrý svet) (2001)', 4.0),
  (380, '50 First Dates (2004)', 3.0),
  (76, 'Star Wars: Episode I - The Phantom Menace (1999)', 2.0),
  (608, 'Cruel Intentions (1999)', 3.0),
  (79, 'Godfather, The (1972)', 5.0),
  (290, 'Simple Plan, A (1998)', 4.0),
  (599, 'Safety of Objects, The (2001)', 1.5),
  (322, 'My Cousin Vinny (1992)', 3.5),
  (226, 'Sleepy Hollow (1999)', 2.5),
  (465, 'Who Framed Roger Rabbit? (1988)', 4.0),
  (305, 'War of the Worlds (2005)', 3.5),
  (390, 'Children of a Lesser God (1986)', 4.5),
  (59, 'Witness (1985)', 5.0),
  (420, 'Monty Python Live at the Hollywood Bowl (1982)', 4.0),
  (464, 'Sudden Death (1995)', 2.5),
  (167, 'Pulp Fiction (1994)', 3.0),
  (332, 'Dune (1984)', 1.5),
  (401, 'Goofy Movie, A (1995)', 4.5),
  (263, 'Bend It Like Beckham (2002)', 4.0),
  (177, 'Talladega Nights: The Ballad of Ricky Bobby (2006)', 2.5),
  (520, 'Inglourious Basterds (2009)', 4.5),
  (414, 'Excess Baggage (1997)', 3.0),
  (522, 'True Grit (2010)', 4.5),
  (602, 'City Hall (1996)', 3.0),
  (62, 'Snatch (2000)', 4.5),
  (318, 'Shrek (2001)', 3.5),
  (221, 'Maltese Falcon, The (1941)', 4.5),
  (95, 'Blade (1998)', 3.0),
  (193,
   'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
   2.0),
  (95, 'Soylent Green (1973)', 4.0),
  (517, "Mr. Popper's Penguins (2011)", 2.0),
  (13, 'Ready to Wear (Pret-A-Porter) (1994)', 1.0),
  (282, 'Last King of Scotland, The (2006)', 4.5),
  (422, 'Star Wars: Episode I - The Phantom Menace (1999)', 4.0),
  (249, 'Transporter, The (2002)', 3.5),
  (68, 'Little Mermaid, The (1989)', 5.0),
  (563, 'Mamma Mia! (2008)', 3.5),
  (19, 'Legend (1985)', 3.0),
  (80, 'Matrix Reloaded, The (2003)', 4.0),
  (539, "Pee-wee's Big Adventure (1985)", 3.0),
  (290, 'Unforgiven (1992)', 4.0),
  (493, 'Princess Bride, The (1987)', 4.0),
  (600, 'BASEketball (1998)', 4.0),
  (280, '10 Things I Hate About You (1999)', 4.0),
  (602, 'Lion King, The (1994)', 4.0),
  (608, '2001: A Space Odyssey (1968)', 3.0),
  (39, 'L.A. Confidential (1997)', 2.0),
  (274, 'Teeth (2007)', 2.0),
  (298, 'This Is Spinal Tap (1984)', 4.0),
  (567, "Man Bites Dog (C'est arrivé près de chez vous) (1992)", 5.0),
  (64, 'Heathers (1989)', 3.0),
  (490, 'Ricky Gervais Live 3: Fame (2007)', 3.0),
  (105, 'Shaun of the Dead (2004)', 3.5),
  (298, 'Lord of the Rings: The Return of the King, The (2003)', 4.0),
  (267, 'For Love of the Game (1999)', 2.0),
  (2, 'Gladiator (2000)', 4.0),
  (298, 'Hangover, The (2009)', 3.0),
  (132, 'Pinocchio (1940)', 2.0),
  (448, 'Lara Croft Tomb Raider: The Cradle of Life (2003)', 1.5),
  (567, 'Stuart Little (1999)', 2.0),
  (157, 'Inspector Gadget (1999)', 2.0),
  (261, 'Seven (a.k.a. Se7en) (1995)', 4.0),
  (288, 'Mimic (1997)', 2.0),
  (489, "On Her Majesty's Secret Service (1969)", 1.5),
  (470, 'Willy Wonka & the Chocolate Factory (1971)', 4.0),
  (580, 'Star Wars: Episode IV - A New Hope (1977)', 4.0),
  (45, 'Hook (1991)', 3.0),
  (377, 'Brady Bunch Movie, The (1995)', 4.0),
  (590, 'West Side Story (1961)', 4.0),
  (434, 'Shaun of the Dead (2004)', 4.5),
  (68, 'Chronicles of Riddick, The (2004)', 2.5),
  (599, 'Fist of Legend (Jing wu ying xiong) (1994)', 3.0),
  (200, 'American Beauty (1999)', 3.5),
  (274, 'Beauty and the Beast (La belle et la bête) (1946)', 3.0),
  (23,
   'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
   3.0),
  (475, 'Despicable Me (2010)', 3.5),
  (182, 'Name of the Rose, The (Name der Rose, Der) (1986)', 4.0),
  (409, 'Hudsucker Proxy, The (1994)', 3.0),
  (51, 'Kindergarten Cop (1990)', 3.0),
  (288, 'High Fidelity (2000)', 3.0),
  (200, 'Ace Ventura: When Nature Calls (1995)', 3.5),
  (152, 'In Bruges (2008)', 4.0),
  (555, 'Dirty Dancing (1987)', 4.0),
  (489, 'GoldenEye (1995)', 2.5),
  (610, 'American Outlaws (2001)', 1.0),
  (313, 'Brazil (1985)', 5.0),
  (125, 'Exam (2009)', 3.5),
  (580, 'Sleepy Hollow (1999)', 4.0),
  (57, 'Jurassic Park (1993)', 5.0),
  (599, 'North (1994)', 1.0),
  (306, 'Inside Out (2015)', 4.0),
  (414, 'Hidalgo (2004)', 3.0),
  (78, 'Hot Shots! Part Deux (1993)', 3.0),
  (410, 'American Beauty (1999)', 3.0),
  (590, 'Dirty Dozen, The (1967)', 4.0),
  (325, 'Major League: Back to the Minors (1998)', 2.0),
  (551, 'The Martian (2015)', 4.5),
  (489, 'What Women Want (2000)', 3.0),
  (100, 'Grosse Pointe Blank (1997)', 4.5),
  (210, 'Green Mile, The (1999)', 4.0),
  (246, 'Casino Royale (2006)', 5.0),
  (469, "Loaded Weapon 1 (National Lampoon's Loaded Weapon 1) (1993)", 1.0),
  (582, 'Dark Knight Rises, The (2012)', 4.5),
  (70, 'Hustler, The (1961)', 5.0),
  (31, 'Twister (1996)', 4.0),
  (208, 'Rock, The (1996)', 3.0),
  (286, 'Eternal Sunshine of the Spotless Mind (2004)', 5.0),
  (305, 'Shutter Island (2010)', 3.5),
  (111, 'Pumping Iron (1977)', 4.0),
  (352, 'Elysium (2013)', 3.0),
  (71, 'Die Hard (1988)', 4.0),
  (489, 'Aladdin (1992)', 3.5),
  (312, 'Solaris (2002)', 4.0),
  (509, 'Dukes of Hazzard, The (2005)', 2.0),
  (318, 'Kung Fu Panda (2008)', 3.5),
  (474, "Sophie's Choice (1982)", 2.5),
  (448, 'Bonfire of the Vanities (1990)', 2.0),
  (477, 'Fido (2006)', 4.0),
  (86, 'Shrek (2001)', 4.0),
  (274, 'Truman Show, The (1998)', 4.5),
  (80, "Pan's Labyrinth (Laberinto del fauno, El) (2006)", 4.5),
  (96, 'Titanic (1997)', 2.0),
  (387, 'Reservoir Dogs (1992)', 4.5),
  (266, 'Big (1988)', 4.0),
  (132, 'Grindhouse (2007)', 4.0),
  (234, 'Iron Giant, The (1999)', 5.0),
  (600, 'Sister Act (1992)', 2.0),
  (221, 'Motorcycle Diaries, The (Diarios de motocicleta) (2004)', 4.5),
  (474, 'Doors, The (1991)', 3.0),
  (509, 'Thank You for Smoking (2006)', 3.0),
  (58, 'Get Shorty (1995)', 4.0),
  (599, 'I Heart Huckabees (2004)', 2.5),
  (115, 'Aliens (1986)', 5.0),
  (274, 'Bubba Ho-tep (2002)', 3.5),
  (62, 'Solo: A Star Wars Story (2018)', 4.0),
  (18, 'Independence Day (a.k.a. ID4) (1996)', 4.0),
  (475, 'Shrek (2001)', 4.5),
  (298, "World's Greatest Dad (2009)", 1.5),
  (184, 'Avengers: Age of Ultron (2015)', 3.5),
  (465, 'No Way Out (1987)', 4.0),
  (68, 'Red Planet (2000)', 2.5),
  (534, 'Man in the Iron Mask, The (1998)', 4.5),
  (474, 'Finding Nemo (2003)', 4.0),
  (274, 'Lost World: Jurassic Park, The (1997)', 1.5),
  (474, 'Mrs. Henderson Presents (2005)', 3.5),
  (602, 'Nixon (1995)', 5.0),
  (54, 'Toy Story (1995)', 3.0),
  (211, 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)', 3.5),
  (599, 'Stay Tuned (1992)', 2.5),
  (411, 'Mighty Aphrodite (1995)', 2.0),
  (483, 'Grease 2 (1982)', 0.5),
  (45, 'Talented Mr. Ripley, The (1999)', 4.0),
  (311, 'American Pie (1999)', 0.5),
  (445, 'Beautiful Mind, A (2001)', 4.0),
  (381, 'Princess and the Frog, The (2009)', 4.0),
  (57, 'African Queen, The (1951)', 4.0),
  (485, 'Outbreak (1995)', 5.0),
  (599, 'Day & Night (2010)', 2.5),
  (414, 'In the Bedroom (2001)', 4.0),
  (593, 'Patriot, The (2000)', 2.0),
  (464, 'I Now Pronounce You Chuck and Larry (2007)', 4.0),
  (198, 'Airplane! (1980)', 3.0),
  (332, 'Monsters (2010)', 3.5),
  (610, 'Garden State (2004)', 3.5),
  (125, 'The Lobster (2015)', 3.5),
  (414, 'Once Upon a Time in Mexico (2003)', 4.0),
  (462, 'Aliens (1986)', 2.0),
  (221, 'Midnight Express (1978)', 4.0),
  (258, 'Beautiful Mind, A (2001)', 5.0),
  (509, 'Bean (1997)', 3.5),
  (368, 'Chariots of Fire (1981)', 4.0),
  (275, 'You Can Count on Me (2000)', 5.0),
  (166, 'Sense and Sensibility (1995)', 4.0),
  (378, 'Lion King, The (1994)', 4.5),
  (182, 'Mystic River (2003)', 3.5),
  (462, 'Westworld (1973)', 4.0),
  (480, 'Knocked Up (2007)', 4.5),
  (448, 'Perfect Storm, The (2000)', 3.0),
  (113, 'Grease (1978)', 3.0),
  (232, 'Last Holiday (2006)', 3.0),
  (469, 'Bananas (1971)', 4.0),
  (292, 'This Is the End (2013)', 1.5),
  (520, 'Avatar (2009)', 4.5),
  (414, 'Arlington Road (1999)', 3.0),
  (608, 'Dark Crystal, The (1982)', 3.0),
  (125, 'Funny Games U.S. (2007)', 5.0),
  (297, 'Twister (1996)', 1.0),
  (24, '300 (2007)', 4.0),
  (40, 'Pocahontas (1995)', 2.0),
  (298, 'Incredibles, The (2004)', 2.0),
  (483, 'Me, Myself & Irene (2000)', 3.5),
  (275, 'Honey, I Shrunk the Kids (1989)', 2.0),
  (292, 'Blade (1998)', 3.0),
  (509, 'Women on the 6th Floor, The (Les Femmes du 6ème Étage) (2010)', 3.5),
  (153, 'Wolf of Wall Street, The (2013)', 1.0),
  (45, "My Best Friend's Wedding (1997)", 4.0),
  (480, 'Scary Movie (2000)', 0.5),
  (287, 'Hours, The (2002)', 5.0),
  (599, 'Deep Impact (1998)', 2.0),
  (400, 'Blade Runner (1982)', 4.5),
  (122, 'Christmas Story, A (1983)', 5.0),
  (286, 'Philadelphia (1993)', 4.5),
  (177, 'Adjustment Bureau, The (2011)', 3.0),
  (354, 'Gladiator (2000)', 3.5),
  (305, 'Homefront (2013)', 3.0),
  (64, 'Kill Bill: Vol. 1 (2003)', 4.0),
  (27, 'Mission: Impossible (1996)', 4.0),
  (266, 'Goldfinger (1964)', 5.0),
  (382, 'Rush Hour (1998)', 3.5),
  (474, 'Comedian (2002)', 3.0),
  (607, 'Fargo (1996)', 2.0),
  (135, 'Fight Club (1999)', 5.0),
  (414, 'Indiana Jones and the Last Crusade (1989)', 4.0),
  (565, 'Shawshank Redemption, The (1994)', 4.0),
  (223, 'Candyman (1992)', 1.0),
  (232, 'Joe Somebody (2001)', 3.0),
  (28, 'Dirty Dozen, The (1967)', 3.5),
  (281, '40-Year-Old Virgin, The (2005)', 4.0),
  (95, 'Smokey and the Bandit II (1980)', 4.0),
  (547, 'This Is Spinal Tap (1984)', 5.0),
  (141, 'Lethal Weapon 4 (1998)', 3.0),
  (68, 'Stakeout (1987)', 3.0),
  (607, 'Poltergeist (1982)', 4.0),
  (234, 'Last Action Hero (1993)', 4.0),
  (72, 'Pulp Fiction (1994)', 4.5),
  (562, 'Catch Me If You Can (2002)', 4.0),
  (534, 'Zombieland (2009)', 4.0),
  (387, 'Mrs. Doubtfire (1993)', 2.5),
  (232, 'Sarah Silverman: Jesus Is Magic (2005)', 1.5),
  (421, 'Casablanca (1942)', 4.0),
  (309, 'Master and Commander: The Far Side of the World (2003)', 4.0),
  (141, 'Toy Story 2 (1999)', 4.5),
  (182, "St. Elmo's Fire (1985)", 3.5),
  (129, 'Minority Report (2002)', 4.0),
  (603, '200 Cigarettes (1999)', 3.0),
  (234, 'Snow White and the Seven Dwarfs (1937)', 5.0),
  (597, 'Jewel of the Nile, The (1985)', 4.0),
  (438, 'Manchurian Candidate, The (1962)', 5.0),
  (249, 'Very Harold & Kumar 3D Christmas, A (2011)', 3.5),
  (100, 'Mexican, The (2001)', 4.5),
  (249, 'Cabin in the Woods, The (2012)', 5.0),
  (309, 'Monsters, Inc. (2001)', 4.0),
  (39, 'Mulan (1998)', 2.0),
  (181, 'Clear and Present Danger (1994)', 4.0),
  (67, 'Shawshank Redemption, The (1994)', 4.5),
  (387, 'Re-Animator (1985)', 2.5),
  (325, 'Russia House, The (1990)', 3.0),
  (365, 'Green Hornet, The (2011)', 4.0),
  (66, 'Hot Fuzz (2007)', 4.0),
  (40, 'Beauty and the Beast (1991)', 3.0),
  (177, 'Two Weeks Notice (2002)', 4.0),
  (63, '28 Days Later (2002)', 4.0),
  (292, 'Sum of All Fears, The (2002)', 4.0),
  (560, 'Corpse Bride (2005)', 3.5),
  (10, 'Harry Potter and the Half-Blood Prince (2009)', 3.0),
  (560, 'Coraline (2009)', 3.5),
  (523, 'Good Will Hunting (1997)', 5.0),
  (122, 'Batman (1989)', 4.5),
  (474, 'Unforgiven (1992)', 4.0),
  (331, 'Daredevil (2003)', 1.0),
  (567, 'X-Men: Days of Future Past (2014)', 3.0),
  (151, 'Toy Story (1995)', 5.0),
  (411, 'Nightmare Before Christmas, The (1993)', 4.0),
  (18, 'Lord of the Rings: The Two Towers, The (2002)', 3.5),
  (239, 'Love Actually (2003)', 3.5),
  (414, '25th Hour (2002)', 4.0),
  (15, 'Star Wars: Episode III - Revenge of the Sith (2005)', 5.0),
  (291, 'Harry Potter and the Prisoner of Azkaban (2004)', 5.0),
  (225, 'Fletch (1985)', 4.0),
  (525, 'Austin Powers in Goldmember (2002)', 2.5),
  (428, 'Waterboy, The (1998)', 2.0),
  (45, 'Glory (1989)', 5.0),
  (274, 'Incredibles, The (2004)', 3.5),
  (339, 'Jurassic Park (1993)', 4.0),
  (520, 'Star Trek: Generations (1994)', 3.5),
  (371, 'Shining, The (1980)', 5.0),
  (436, 'Dave (1993)', 4.0),
  (319, 'Batman v Superman: Dawn of Justice (2016)', 4.5),
  (525, 'Chasing Amy (1997)', 3.5),
  (320, "You Don't Mess with the Zohan (2008)", 3.0),
  (217, 'Corrina, Corrina (1994)', 2.0),
  (483, 'Da Vinci Code, The (2006)', 3.0),
  (357, "Brother's Keeper (1992)", 4.0),
  (489, 'Hot Shots! (1991)', 2.5),
  (362, 'Thing, The (1982)', 5.0),
  (474, '18 Again! (1988)', 2.0),
  (100, 'Affair to Remember, An (1957)', 4.0),
  (274, 'Caddyshack (1980)', 4.0),
  (560, 'Terminator 2: Judgment Day (1991)', 3.0),
  (45, 'Fight Club (1999)', 5.0),
  (28, 'American Psycho (2000)', 4.0),
  (534, 'Lord of the Rings: The Fellowship of the Ring, The (2001)', 4.0),
  (448, 'In the Heart of the Sea (2015)', 2.5),
  (200, "Something's Gotta Give (2003)", 3.0),
  (483, 'Sgt. Bilko (1996)', 3.5),
  (308, 'Outbreak (1995)', 1.0),
  (219, 'Talladega Nights: The Ballad of Ricky Bobby (2006)', 1.5),
  (85, 'Thousand Acres, A (1997)', 1.0),
  (132, 'Star Wars: Episode V - The Empire Strikes Back (1980)', 2.0),
  (602, 'Congo (1995)', 3.0),
  (398, 'My Neighbor Totoro (Tonari no Totoro) (1988)', 5.0),
  (517, 'Grease Live (2016)', 1.0),
  (466, 'Bolt (2008)', 4.0),
  (217, 'Dirty Dozen, The (1967)', 4.0),
  (42, "St. Elmo's Fire (1985)", 4.0),
  (448, 'Sneakers (1992)', 4.0),
  (307, 'Talladega Nights: The Ballad of Ricky Bobby (2006)', 2.5),
  (100, 'Top Gun (1986)', 5.0),
  (288, 'Swarm, The (1978)', 2.0),
  (125, 'Army of Darkness (1993)', 4.0),
  (365, 'If I Stay (2014)', 2.0),
  (380, 'Jimmy Neutron: Boy Genius (2001)', 3.0),
  (580, 'X-Men: The Last Stand (2006)', 4.5),
  (202, 'Jaws (1975)', 4.0),
  (597, 'Being There (1979)', 5.0),
  (75, 'Alien³ (a.k.a. Alien 3) (1992)', 3.0),
  (20, 'Guys and Dolls (1955)', 5.0),
  (91, 'Body Snatcher, The (1945)', 4.5),
  (216, 'Fast Times at Ridgemont High (1982)', 4.0),
  (525, 'Avengers: Age of Ultron (2015)', 2.0),
  (292, 'The Hunger Games (2012)', 4.5),
  (380, 'Host, The (Gwoemul) (2006)', 4.0),
  (139, 'Blade: Trinity (2004)', 0.5),
  (561, 'Reservoir Dogs (1992)', 3.5),
  (414, "Your Sister's Sister (2011)", 4.0),
  (132, 'Boondock Saints, The (2000)', 3.5),
  (63, 'Young Frankenstein (1974)', 3.0),
  (462, 'Team America: World Police (2004)', 4.5),
  (305, "Ender's Game (2013)", 4.0),
  (370, 'Star Wars: Episode II - Attack of the Clones (2002)', 1.0),
  (313, 'Game, The (1997)', 5.0),
  (135, 'Star Wars: Episode V - The Empire Strikes Back (1980)', 4.0),
  (477, 'Incredible Hulk, The (2008)', 4.0),
  (448, 'Baby... Secret of the Lost Legend (1985)', 2.0),
  (567, 'Usual Suspects, The (1995)', 1.0),
  (177, 'Alice in Wonderland (1951)', 3.5),
  (171, 'Hudsucker Proxy, The (1994)', 3.0),
  (489, 'Talladega Nights: The Ballad of Ricky Bobby (2006)', 3.0),
  (610, 'League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)', 1.5),
  (600, 'Village of the Damned (1995)', 3.5),
  (233, 'Girl with the Dragon Tattoo, The (2011)', 3.0),
  (183, 'Fifth Element, The (1997)', 2.0),
  (47, "Mr. Holland's Opus (1995)", 3.0),
  (18, 'Michael Clayton (2007)', 4.0),
  (91, 'Star Wars: Episode II - Attack of the Clones (2002)', 4.0),
  (347, 'Toy Story (1995)', 5.0),
  (405, 'American History X (1998)', 3.5),
  (220, 'Austin Powers: International Man of Mystery (1997)', 3.5),
  (125, 'Her (2013)', 4.0),
  (448, 'Minority Report (2002)', 4.0),
  (288, 'Desperately Seeking Susan (1985)', 3.0),
  (34, 'Truman Show, The (1998)', 2.5),
  (520, 'Ghostbusters (a.k.a. Ghost Busters) (1984)', 4.0),
  (610, 'Elf (2003)', 3.5),
  (222, 'Argo (2012)', 4.5),
  (140, 'Finding Forrester (2000)', 3.0),
  (599, 'Bring It On (2000)', 2.0),
  (168, 'Seven Samurai (Shichinin no samurai) (1954)', 4.5),
  (608, 'Batman Forever (1995)', 2.5),
  (237,
   'Girl with the Dragon Tattoo, The (Män som hatar kvinnor) (2009)',
   3.0),
  (306, 'The Intern (2015)', 3.0),
  (410, 'Thirty-Two Short Films About Glenn Gould (1993)', 5.0),
  (254, 'Back to the Future (1985)', 3.5),
  (80, 'Watchmen (2009)', 4.0),
  (534, 'Rise of the Planet of the Apes (2011)', 4.0),
  (217, 'Dr. No (1962)', 3.0),
  (469, 'Grosse Pointe Blank (1997)', 4.0),
  (318, 'Hurt Locker, The (2008)', 3.5),
  (546, 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)', 3.0),
  (483, 'Braveheart (1995)', 4.0),
  (140, 'Tender Mercies (1983)', 4.0),
  (6, 'Tank Girl (1995)', 1.0),
  (448, 'Easy Rider (1969)', 4.0),
  (68, 'Teaching Mrs. Tingle (1999)', 3.5),
  (306, 'Horrible Bosses (2011)', 4.0),
  (325, 'White Balloon, The (Badkonake sefid) (1995)', 4.0),
  (290, 'Five Easy Pieces (1970)', 5.0),
  (420, 'Bowling for Columbine (2002)', 4.0),
  (68, '28 Up (1985)', 4.0),
  (177, 'Changeling (2008)', 4.0),
  (365, 'Fun with Dick and Jane (2005)', 1.0),
  (312, 'Face/Off (1997)', 3.0),
  (298, 'Ice Age: Dawn of the Dinosaurs (2009)', 0.5),
  (174, 'Ace Ventura: Pet Detective (1994)', 5.0),
  (357, 'Ghost (1990)', 3.5),
  (140, 'Backdraft (1991)', 3.0),
  (561, 'E.T. the Extra-Terrestrial (1982)', 4.5),
  (132, "William Shakespeare's Romeo + Juliet (1996)", 3.0),
  (156, 'Unbearable Lightness of Being, The (1988)', 3.0),
  (20,
   "Endurance: Shackleton's Legendary Antarctic Expedition, The (2000)",
   3.5),
  (608, 'Made (2001)', 3.0),
  (560, 'Snowpiercer (2013)', 2.0),
  (45, 'High Fidelity (2000)', 4.0),
  (474, 'Everest (1998)', 4.0),
  (560, 'Joyeux Noël (Merry Christmas) (2005)', 3.5),
  (19, 'Idle Hands (1999)', 4.0),
  (17, 'American History X (1998)', 4.5),
  (580, 'Wedding Crashers (2005)', 1.5),
  (233, 'Monty Python and the Holy Grail (1975)', 3.0),
  (307, 'Brothers Grimm, The (2005)', 0.5),
  (448, 'Brave (2012)', 3.0),
  (68, 'Coraline (2009)', 3.0),
  (432, 'Blind Side, The  (2009)', 3.5),
  (150, 'Sabrina (1995)', 3.0),
  (57, 'Honey, I Shrunk the Kids (1989)', 3.0),
  (64, 'Lock, Stock & Two Smoking Barrels (1998)', 3.5),
  (280, 'Goonies, The (1985)', 4.0),
  (32, 'Truth About Cats & Dogs, The (1996)', 4.0),
  (21, 'National Treasure (2004)', 4.0),
  (125, 'The Hunger Games (2012)', 2.0),
  (177, 'Grindhouse (2007)', 2.5),
  (414, 'Maria Full of Grace (Maria, Llena eres de gracia) (2004)', 4.0),
  (274, 'Brothers Grimm, The (2005)', 1.0),
  (319, 'Love Actually (2003)', 4.0),
  (181, 'Dances with Wolves (1990)', 3.0),
  (606, 'Brokeback Mountain (2005)', 4.5),
  (422, 'Men of Honor (2000)', 4.0),
  (153, '10 Things I Hate About You (1999)', 1.0),
  (4, 'Corrina, Corrina (1994)', 3.0),
  (361, 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)', 3.5),
  (448, 'Bruce Almighty (2003)', 3.0),
  (610, 'Abraham Lincoln: Vampire Hunter (2012)', 2.5),
  (437, 'Father of the Bride Part II (1995)', 2.0),
  (380, 'About a Boy (2002)', 4.0),
  (231, 'American Beauty (1999)', 4.0),
  (599, 'Family Business (1989)', 2.0),
  (260, 'Lost in Translation (2003)', 4.0),
  (593, 'Midnight in the Garden of Good and Evil (1997)', 3.0),
  (244, 'Year of Living Dangerously, The (1982)', 5.0),
  (530, 'Piano, The (1993)', 3.0),
  (294, 'Santa Clause, The (1994)', 2.0),
  (426, 'Simpsons Movie, The (2007)', 3.0),
  (199, 'Three Colors: Blue (Trois couleurs: Bleu) (1993)', 2.0),
  (381, 'Lord of the Rings: The Return of the King, The (2003)', 4.0),
  (105, 'K-PAX (2001)', 5.0),
  (509, 'Night at the Museum: Battle of the Smithsonian (2009)', 3.0),
  (211, 'Bourne Identity, The (2002)', 4.0),
  (51, 'Super Size Me (2004)', 5.0),
  (275, 'Magnolia (1999)', 1.0),
  (177, 'Ice Age 2: The Meltdown (2006)', 2.5),
  (534, 'Despicable Me (2010)', 4.5),
  (599, 'Killing Fields, The (1984)', 3.0),
  (292, 'Lady and the Tramp (1955)', 3.0),
  (111, 'Why Him? (2016)', 4.5),
  (165, 'Speed (1994)', 4.0),
  (559, 'Jury Duty (1995)', 1.0),
  (23, 'Seventh Seal, The (Sjunde inseglet, Det) (1957)', 4.0),
  (488, 'Harry Potter and the Prisoner of Azkaban (2004)', 5.0),
  (555, 'Clueless (1995)', 4.0),
  (603, 'My Fair Lady (1964)', 5.0),
  (260, 'Prophecy, The (1995)', 4.0),
  (274, 'Mission: Impossible (1996)', 3.5),
  (8, 'Interview with the Vampire: The Vampire Chronicles (1994)', 5.0),
  (116, 'Dirty Dancing (1987)', 4.5),
  (104, "She's All That (1999)", 3.0),
  (182, 'Salvador (1986)', 4.5),
  (525, 'Star Trek (2009)', 3.0),

In [33]:
# посмотрим на количество
dataset['uid'].nunique(), dataset['iid'].nunique()

(610, 9719)

##Модель KNNWithMeans

In [41]:
# построим модель
algo = KNNWithMeans(k=50,
                     sim_options={'name': 'cosine',
                                  'user_based': True  # вычисление сходства между пользователями
})
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [42]:
# проверим точность
test_pred = algo.test(testset)
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8959

0.8959492188641812

Подберем более оптимальные параметры

In [ ]:
from surprise.model_selection import GridSearchCV
from scipy.stats import uniform, randint

# зададим сетку параметров
sim_options = {'name': ['msd', 'cosine'],
               'min_support': [3, 4, 5],
               'user_based': [False, True],
}
param_grid = {'sim_options': sim_options}

# инициализируем GridSearchCV
gs = GridSearchCV(KNNWithMeans, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(data)

# выведем лучшие параметры
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

##tmp

In [ ]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [ ]:
movies_with_ratings = movies.merge(ratings, on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [ ]:
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [ ]:
movies_with_ratings.title.value_counts()

Forrest Gump (1994)                      329
Shawshank Redemption, The (1994)         317
Pulp Fiction (1994)                      307
Silence of the Lambs, The (1991)         279
Matrix, The (1999)                       278
                                        ...
We're Back! A Dinosaur's Story (1993)      1
American Hardcore (2006)                   1
Shanghai Surprise (1986)                   1
Let's Get Harry (1986)                     1
Andrew Dice Clay: Dice Rules (1991)        1
Name: title, Length: 9719, dtype: int64

In [ ]:
movies_with_ratings.userId.value_counts()

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
53       20
207      20
431      20
442      20
189      20
Name: userId, Length: 610, dtype: int64

In [ ]:
num_users = movies_with_ratings.userId.unique().shape[0]
num_users

610

In [ ]:
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [ ]:
movie_vector = {}

for movie, group in tqdm(movies_with_ratings.groupby('title')):
    movie_vector[movie] = np.zeros(num_users)

    for i in range(len(group.userId.values)):
        u = group.userId.values[i]
        r = group.rating.values[i]
        movie_vector[movie][int(u - 1)] = r

100%|██████████| 9719/9719 [00:02<00:00, 3800.48it/s]

In [ ]:
movie_vector['Toy Story (1995)']

array([4. , 0. , 0. , 0. , 4. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 2.5, 0. , 4.5, 3.5, 4. , 0. , 3.5, 0. , 0. , 0. , 0. , 0. ,
       3. , 0. , 0. , 0. , 5. , 3. , 3. , 0. , 0. , 0. , 0. , 0. , 0. ,
       5. , 0. , 0. , 5. , 3. , 4. , 5. , 0. , 0. , 0. , 3. , 0. , 0. ,
       0. , 3. , 0. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 5. , 4. , 0. ,
       4. , 0. , 2.5, 0. , 0. , 5. , 0. , 4.5, 0. , 0. , 0.5, 0. , 4. ,
       0. , 0. , 0. , 2.5, 0. , 0. , 0. , 4. , 0. , 0. , 3. , 3. , 4. ,
       0. , 3. , 0. , 0. , 5. , 0. , 4.5, 0. , 0. , 0. , 0. , 4. , 0. ,
       0. , 0. , 4. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. , 0. , 0. ,
       0. , 3.5, 0. , 4. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 3. ,
       0. , 2. , 0. , 3. , 4. , 0. , 4. , 0. , 0. , 3. , 4. , 0. , 0. ,
       3.5, 5. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 2. , 0. , 3. , 4. ,
       0. , 0. , 4.5, 4. , 4. , 0. , 0. , 0. , 0. , 5. , 3.5, 0. , 4.5,
       0. , 5. , 0. , 0. , 0. , 0. , 0. , 5. , 4. , 4. , 0. , 0. , 4. ,
       0. , 0. , 4. , 4. , 0. , 0. , 0. , 0. , 4. , 0. , 2. , 0. , 0. ,
       0. , 0. , 0. , 0. , 3.5, 5. , 4. , 0. , 0. , 0. , 5. , 0. , 0. ,
       0. , 0. , 0. , 0. , 3.5, 3. , 0. , 3. , 4. , 0. , 3.5, 5. , 0. ,
       0. , 3.5, 0. , 0. , 3.5, 0. , 0. , 5. , 0. , 0. , 3.5, 3. , 5. ,
       0. , 0. , 0. , 0. , 4. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 5. ,
       0. , 4. , 0. , 0. , 4.5, 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 4. , 4. , 0. , 2. , 0. , 0. , 5. , 5. , 0. , 0. , 5. ,
       4. , 5. , 4. , 4. , 0. , 3. , 4.5, 0. , 4.5, 3. , 0. , 0. , 0. ,
       0. , 4.5, 0. , 4. , 4. , 4. , 3. , 0. , 0. , 0. , 0. , 2. , 0. ,
       0. , 0. , 0. , 0. , 5. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. ,
       0. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3.5, 3.5, 0. , 0. ,
       0. , 0. , 5. , 0. , 4. , 0. , 4. , 0. , 3.5, 0. , 4. , 4. , 0. ,
       4. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 4. , 0. ,
       0. , 5. , 0. , 0. , 0. , 5. , 0. , 4. , 0. , 0. , 0. , 0. , 5. ,
       0. , 0. , 5. , 0. , 0. , 0. , 0. , 3. , 3. , 0. , 0. , 0. , 0. ,
       4.5, 0. , 5. , 3.5, 4.5, 0. , 0. , 4. , 0. , 0. , 0. , 5. , 0. ,
       3. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 4. , 0. , 3.5, 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 2. , 0. , 4. , 0. , 0. ,
       0. , 0. , 0. , 4. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 2.5, 0. , 4. , 0. , 4. , 0. , 4.5, 0. , 0. , 0. , 0. ,
       4. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 5. , 0. , 5. , 0. , 0. ,
       5. , 0. , 0. , 0. , 4.5, 0. , 1.5, 0. , 0. , 0. , 0. , 0. , 4. ,
       4. , 4. , 5. , 0. , 0. , 4. , 0. , 4. , 4. , 0. , 0. , 3. , 0. ,
       0. , 4. , 4.5, 0. , 0. , 0. , 4.5, 0. , 3.5, 0. , 4. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 4. , 0. , 0. , 0. ,
       0. , 4. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 4. , 0. , 0. , 0. ,
       0. , 3. , 0. , 4. , 4. , 0. , 0. , 2.5, 3. , 0. , 0. , 0. , 5. ,
       4. , 0. , 0. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 3. , 0. , 0. ,
       0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 5. ,
       3. , 4. , 4.5, 0. , 0. , 0. , 0. , 3.5, 0. , 0. , 4. , 0. , 4. ,
       5. , 0. , 0. , 0. , 0. , 0. , 4. , 3. , 0. , 0. , 0. , 5. , 0. ,
       0. , 5. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 4. , 4. , 0. ,
       3. , 2.5, 4. , 0. , 4. , 3. , 4. , 2.5, 4. , 2.5, 3. , 5. ])

In [ ]:
from scipy.spatial.distance import cityblock, cosine, euclidean, hamming, jaccard

In [ ]:
my_fav_film = 'Fight Club (1999)'

titles = []
distances = []

for key in tqdm(movie_vector.keys()):
    if key == my_fav_film:
        continue

    titles.append(key)
    distances.append(cosine(movie_vector[my_fav_film], movie_vector[key]))

len(distances)

100%|██████████| 9719/9719 [00:02<00:00, 4553.26it/s]

9718

In [ ]:
distances[:10]

[0.9223029947150825,
 0.9300726952435743,
 0.950553928616633,
 1.0,
 1.0,
 0.968921197886033,
 0.877349727371666,
 0.9378423957720661,
 0.7578680102442159,
 0.9065861273541315]

In [ ]:
best_indexes = np.argsort(distances)[:10]
best_indexes

array([5511, 5571,  420, 4736, 5203,  405, 6864, 5204, 4322, 4737])

In [ ]:
best_movies = [(titles[i], distances[i]) for i in best_indexes]

for m in best_movies:
    print(m)

('Matrix, The (1999)', 0.28606257328028306)
('Memento (2000)', 0.33040704494686757)
('American History X (1998)', 0.3509458374819995)
('Kill Bill: Vol. 1 (2003)', 0.360262413456623)
('Lord of the Rings: The Fellowship of the Ring, The (2001)', 0.36425580638414523)
('American Beauty (1999)', 0.3744505150386159)
('Pulp Fiction (1994)', 0.37678014788325576)
('Lord of the Rings: The Return of the King, The (2003)', 0.37798413607448667)
('Inception (2010)', 0.3845825728533704)
('Kill Bill: Vol. 2 (2004)', 0.38565615909903594)

## Surprise

https://surpriselib.com/

- Алгоритмы https://surprise.readthedocs.io/en/stable/prediction_algorithms_package.html

In [ ]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise (from surprise)
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 11.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3095482 sha256=1fb9739ea54c91e04b26383cb9edf5e5c63cf96aafa635936693d90cdc77126c
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [ ]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

import pandas as pd

In [ ]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [ ]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
movies_with_ratings = movies.merge(ratings, on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [ ]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [ ]:
dataset.head()

   uid               iid  rating
0    1  Toy Story (1995)     4.0
1    5  Toy Story (1995)     4.0
2    7  Toy Story (1995)     4.5
3   15  Toy Story (1995)     2.5
4   17  Toy Story (1995)     4.5

In [ ]:
ratings.rating.min()

0.5

In [ ]:
ratings.rating.max()

5.0

In [ ]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)
# data_1 = Dataset.load_from_df(movies_with_ratings, reader)

In [ ]:
trainset, testset = train_test_split(data, test_size=0.2, random_state=1)

In [ ]:
dataset['uid'].nunique(), dataset['iid'].nunique()

(610, 9719)

#### user_based

In [ ]:
algo = KNNWithMeans(k=50, sim_options={
    'name': 'cosine',
    'user_based': True  # compute  similarities between users
})
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [ ]:
test_pred = algo.test(testset)
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8985

0.898482528669153

In [ ]:
test_pred[:3]

[Prediction(uid=542, iid='Kill Bill: Vol. 1 (2003)', r_ui=2.5, est=3.7592260572900007, details={'actual_k': 50, 'was_impossible': False}),
 Prediction(uid=469, iid='Bridge on the River Kwai, The (1957)', r_ui=4.0, est=4.168241951992395, details={'actual_k': 34, 'was_impossible': False}),
 Prediction(uid=317, iid='Scarface (1983)', r_ui=5.0, est=4.062599058241541, details={'actual_k': 49, 'was_impossible': False})]

In [ ]:
algo.predict(uid=2, iid='Fight Club (1999)')

Prediction(uid=2, iid='Fight Club (1999)', r_ui=None, est=4.474085079084162, details={'actual_k': 50, 'was_impossible': False})

#### item_based

In [ ]:
algo = KNNWithMeans(k=50, sim_options={
    'name': 'cosine',
    'user_based': False  # compute similarities between items
})
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [ ]:
test_pred = algo.test(testset)

In [ ]:
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8982

0.898181158065249

In [ ]:
new_pred = algo.predict(uid=2, iid='Fight Club (1999)')
new_pred

Prediction(uid=2, iid='Fight Club (1999)', r_ui=None, est=4.2619917274785735, details={'actual_k': 24, 'was_impossible': False})

In [ ]:
accuracy.rmse(new_pred, verbose=True)

TypeError: ignored

In [ ]:
new_pred = algo.predict(uid=20000, iid='Fight Club (1999)')
new_pred

Prediction(uid=20000, iid='Fight Club (1999)', r_ui=None, est=3.498958694897605, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})

In [ ]:
new_pred = algo.predict(uid=2, iid='unkown')
new_pred

Prediction(uid=2, iid='unkown', r_ui=None, est=3.498958694897605, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})

In [ ]:
trainset.global_mean

3.498958694897605

#### Рекомендации

In [ ]:
def generate_recommendation(uid, model, dataset, thresh=4.5, amount=5):
    all_titles = list(dataset['iid'].values)
    users_seen_titles = dataset[dataset['uid'] == uid]['iid']
    titles = np.array(list(set(all_titles) - set(users_seen_titles)))

    np.random.shuffle(titles)

    rec_list = []
    for title in titles:
        review_prediction = model.predict(uid=uid, iid=title)
        rating = review_prediction.est

        if rating >= thresh:
            rec_list.append((title, round(rating, 2)))

            if len(rec_list) >= amount:
                return rec_list

In [ ]:
generate_recommendation(2, algo, dataset, thresh=4.8)

[('Duel in the Sun (1946)', 5.0),
 ('Hype! (1996)', 5.0),
 ('Man with the Golden Arm, The (1955)', 5.0),
 ('Four Seasons, The (1981)', 5.0),
 ('Front of the Class (2008)', 5.0)]

Дополнительные ссылки:
1. https://sales-generator.ru/blog/rekomendatelnye-sistemy/
2. https://habr.com/ru/companies/prequel/articles/567648/
3. https://www.kaggle.com/code/gspmoreira/recommender-systems-in-python-101
4. https://habr.com/ru/companies/prequel/articles/573880/