#Лабораторная работа по курсу

#Загружаем данные

In [1]:
# скачиваем данные
!wget 'https://archive.ics.uci.edu/static/public/40/flags.zip'

--2024-11-19 13:06:50--  https://archive.ics.uci.edu/static/public/40/flags.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘flags.zip’

flags.zip               [ <=>                ]   5.72K  --.-KB/s    in 0s

2024-11-19 13:06:53 (95.4 MB/s) - ‘flags.zip’ saved [5862]

In [2]:
import zipfile

# Путь к zip-архиву
archive_path = '/content/flags.zip'

# Распаковываем zip-архив
with zipfile.ZipFile(archive_path, 'r') as zip_ref:
    zip_ref.extractall()

In [8]:
import pandas as pd
import numpy as np

cols = ['name','landmass','zone','area','population','language','religion','bars','stripes',
       'colours','red','green','blue','gold','white','black','orange','mainhue','circles',
       'crosses','saltires','quarters','sunstars','crescent','triangle','icon','animate',
       'text','topleft','botright']

# загружаю датасет
data = pd.read_csv('/content/flag.data', header=None, names=cols)
data.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

#Анализ данных

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        194 non-null    object
 1   landmass    194 non-null    int64
 2   zone        194 non-null    int64
 3   area        194 non-null    int64
 4   population  194 non-null    int64
 5   language    194 non-null    int64
 6   religion    194 non-null    int64
 7   bars        194 non-null    int64
 8   stripes     194 non-null    int64
 9   colours     194 non-null    int64
 10  red         194 non-null    int64
 11  green       194 non-null    int64
 12  blue        194 non-null    int64
 13  gold        194 non-null    int64
 14  white       194 non-null    int64
 15  black       194 non-null    int64
 16  orange      194 non-null    int64
 17  mainhue     194 non-null    object
 18  circles     194 non-null    int64
 19  crosses     194 non-null    int64
 20  saltires    194 non-null    int64
 21  quarters    194 non-null    int64
 22  sunstars    194 non-null    int64
 23  crescent    194 non-null    int64
 24  triangle    194 non-null    int64
 25  icon        194 non-null    int64
 26  animate     194 non-null    int64
 27  text        194 non-null    int64
 28  topleft     194 non-null    object
 29  botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB

In [10]:
black_list = ['name'] # имя страны не рассматриваем
categoricals = ['landmass','zone','language','mainhue','topleft','botright']
dummies = ['red','green','blue','gold','white','black','orange','crescent','triangle','icon','animate','text']
continious = ['area', 'population', 'bars', 'stripes', 'colours','circles', 'crosses', 'saltires', 'quarters', 'sunstars']
target = 'religion'

In [11]:
data[continious].describe()

,area,population,bars,stripes,colours,circles,crosses,saltires,quarters,sunstars
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,700.046392,23.268041,0.453608,1.551546,3.463918,0.170103,0.149485,0.092784,0.149485,1.386598
std,2170.927932,91.934085,1.038339,2.328005,1.300154,0.463075,0.385387,0.290879,0.435860,4.396186
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,111.000000,4.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,471.250000,14.000000,0.000000,3.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,22402.000000,1008.000000,5.000000,14.000000,8.000000,4.000000,2.000000,1.000000,4.000000,50.000000

In [12]:
data[data.area == 0]

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
6,Anguilla,1,4,0,0,1,1,0,1,3,...,0,0,0,0,0,0,1,0,white,blue
7,Antigua-Barbuda,1,4,0,0,1,1,0,1,5,...,0,0,1,0,1,0,0,0,black,red
15,Barbados,1,4,0,0,1,1,3,0,3,...,0,0,0,0,0,1,0,0,blue,blue
19,Bermuda,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,0,white,red
24,British-Virgin-Isles,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,1,white,blue
33,Cayman-Islands,1,4,0,0,1,1,0,0,6,...,1,1,4,0,0,1,1,1,white,blue
41,Cook-Islands,6,3,0,0,1,1,0,0,4,...,1,1,15,0,0,0,0,0,white,blue
48,Dominica,1,4,0,0,1,1,0,0,6,...,0,0,10,0,0,0,1,0,green,green
67,Gibraltar,3,4,0,0,1,1,0,1,3,...,0,0,0,0,0,1,0,0,white,red
70,Grenada,1,4,0,0,1,1,0,0,3,...,0,0,7,0,1,0,1,0,red,red
71,Guam,6,1,0,0,1,1,0,0,7,...,0,0,0,0,0,1,1,1,red,red
94,Kiribati,6,1,0,0,1,1,0,0,4,...,0,0,1,0,0,1,1,0,red,blue
101,Liechtenstein,3,1,0,0,4,0,0,2,3,...,0,0,0,0,0,1,0,0,blue,red
106,Maldive-Islands,5,1,0,0,10,2,0,0,3,...,0,0,0,1,0,0,0,0,red,red
108,Malta,3,1,0,0,10,0,2,0,3,...,0,0,0,0,0,1,0,0,white,red
109,Marianas,6,1,0,0,10,1,0,0,3,...,0,0,1,0,0,1,0,0,blue,blue
114,Monaco,3,1,0,0,3,0,0,2,2,...,0,0,0,0,0,0,0,0,red,white
116,Montserrat,1,4,0,0,1,1,0,0,7,...,1,1,0,0,0,1,1,0,white,blue
119,Nauru,6,2,0,0,10,1,0,3,3,...,0,0,1,0,0,0,0,0,blue,blue
122,Netherlands-Antilles,1,4,0,0,6,1,0,1,3,...,0,0,6,0,0,0,0,0,white,white
127,Niue,6,3,0,0,1,1,0,0,4,...,1,1,5,0,0,0,0,0,white,gold
144,San-Marino,3,1,0,0,6,0,0,2,2,...,0,0,0,0,0,0,0,0,white,blue
145,Sao-Tome,4,1,0,0,6,0,0,3,4,...,0,0,2,0,1,0,0,0,green,green
148,Seychelles,4,2,0,0,1,1,0,0,3,...,0,0,0,0,0,0,0,0,red,green
158,St-Helena,4,3,0,0,1,1,0,0,7,...,1,1,0,0,0,1,0,0,white,blue
159,St-Kitts-Nevis,1,4,0,0,1,1,0,0,5,...,0,0,2,0,1,0,0,0,green,red
160,St-Lucia,1,4,0,0,1,1,0,0,4,...,0,0,0,0,1,0,0,0,blue,blue
161,St-Vincent,1,4,0,0,1,1,5,0,4,...,0,0,0,0,0,1,1,1,blue,green
176,Turks-Cocos-Islands,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,0,white,blue
177,Tuvalu,6,2,0,0,1,1,0,0,5,...,1,1,9,0,0,0,0,0,white,blue
182,US-Virgin-Isles,1,4,0,0,1,1,0,0,6,...,0,0,0,0,0,1,1,1,white,white
186,Vatican-City,3,1,0,0,6,0,2,0,4,...,0,0,0,0,0,1,0,0,gold,white

In [13]:
data[data.population==0]

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
6,Anguilla,1,4,0,0,1,1,0,1,3,...,0,0,0,0,0,0,1,0,white,blue
7,Antigua-Barbuda,1,4,0,0,1,1,0,1,5,...,0,0,1,0,1,0,0,0,black,red
12,Bahamas,1,4,19,0,1,1,0,3,3,...,0,0,0,0,1,0,0,0,blue,blue
13,Bahrain,5,1,1,0,8,2,0,0,2,...,0,0,0,0,0,0,0,0,white,red
15,Barbados,1,4,0,0,1,1,3,0,3,...,0,0,0,0,0,1,0,0,blue,blue
17,Belize,1,4,23,0,1,1,0,2,8,...,0,0,0,0,0,1,1,1,red,red
19,Bermuda,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,0,white,red
24,British-Virgin-Isles,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,1,white,blue
25,Brunei,5,1,6,0,10,2,0,0,4,...,0,0,0,0,1,1,1,1,white,gold
32,Cape-Verde-Islands,4,4,4,0,6,0,1,2,5,...,0,0,1,0,0,0,1,0,red,green
33,Cayman-Islands,1,4,0,0,1,1,0,0,6,...,1,1,4,0,0,1,1,1,white,blue
39,Comorro-Islands,4,2,2,0,3,2,0,0,2,...,0,0,4,1,0,0,0,0,green,green
41,Cook-Islands,6,3,0,0,1,1,0,0,4,...,1,1,15,0,0,0,0,0,white,blue
47,Djibouti,4,1,22,0,3,2,0,0,4,...,0,0,1,0,1,0,0,0,white,green
48,Dominica,1,4,0,0,1,1,0,0,6,...,0,0,10,0,0,0,1,0,green,green
53,Equatorial-Guinea,4,1,28,0,10,5,0,3,4,...,0,0,0,0,1,0,0,0,green,red
55,Faeroes,3,4,1,0,6,1,0,0,3,...,0,0,0,0,0,0,0,0,white,white
56,Falklands-Malvinas,2,3,12,0,1,1,0,0,6,...,1,1,0,0,0,1,1,1,white,blue
60,French-Guiana,2,4,91,0,3,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
61,French-Polynesia,6,3,4,0,3,0,0,3,5,...,0,0,1,0,0,1,0,0,red,red
67,Gibraltar,3,4,0,0,1,1,0,1,3,...,0,0,0,0,0,1,0,0,white,red
69,Greenland,1,4,2176,0,6,1,0,0,2,...,0,0,0,0,0,0,0,0,white,red
70,Grenada,1,4,0,0,1,1,0,0,3,...,0,0,7,0,1,0,1,0,red,red
71,Guam,6,1,0,0,1,1,0,0,7,...,0,0,0,0,0,1,1,1,red,red
80,Iceland,3,4,103,0,6,1,0,0,3,...,0,0,0,0,0,0,0,0,blue,blue
94,Kiribati,6,1,0,0,1,1,0,0,4,...,0,0,1,0,0,1,1,0,red,blue
101,Liechtenstein,3,1,0,0,4,0,0,2,3,...,0,0,0,0,0,1,0,0,blue,red
102,Luxembourg,3,1,3,0,4,0,0,3,3,...,0,0,0,0,0,0,0,0,red,blue
106,Maldive-Islands,5,1,0,0,10,2,0,0,3,...,0,0,0,1,0,0,0,0,red,red
108,Malta,3,1,0,0,10,0,2,0,3,...,0,0,0,0,0,1,0,0,white,red
109,Marianas,6,1,0,0,10,1,0,0,3,...,0,0,1,0,0,1,0,0,blue,blue
113,Micronesia,6,1,1,0,10,1,0,0,2,...,0,0,4,0,0,0,0,0,blue,blue
114,Monaco,3,1,0,0,3,0,0,2,2,...,0,0,0,0,0,0,0,0,red,white
116,Montserrat,1,4,0,0,1,1,0,0,7,...,1,1,0,0,0,1,1,0,white,blue
119,Nauru,6,2,0,0,10,1,0,3,3,...,0,0,1,0,0,0,0,0,blue,blue
122,Netherlands-Antilles,1,4,0,0,6,1,0,1,3,...,0,0,6,0,0,0,0,0,white,white
127,Niue,6,3,0,0,1,1,0,0,4,...,1,1,5,0,0,0,0,0,white,gold
141,Qatar,5,1,11,0,8,2,0,0,2,...,0,0,0,0,0,0,0,0,white,brown
144,San-Marino,3,1,0,0,6,0,0,2,2,...,0,0,0,0,0,0,0,0,white,blue
145,Sao-Tome,4,1,0,0,6,0,0,3,4,...,0,0,2,0,1,0,0,0,green,green
148,Seychelles,4,2,0,0,1,1,0,0,3,...,0,0,0,0,0,0,0,0,red,green
151,Soloman-Islands,6,2,30,0,1,1,0,0,4,...,0,0,5,0,1,0,0,0,blue,green
158,St-Helena,4,3,0,0,1,1,0,0,7,...,1,1,0,0,0,1,0,0,white,blue
159,St-Kitts-Nevis,1,4,0,0,1,1,0,0,5,...,0,0,2,0,1,0,0,0,green,red
160,St-Lucia,1,4,0,0,1,1,0,0,4,...,0,0,0,0,1,0,0,0,blue,blue
161,St-Vincent,1,4,0,0,1,1,5,0,4,...,0,0,0,0,0,1,1,1,blue,green
163,Surinam,2,4,63,0,6,1,0,5,4,...,0,0,1,0,0,0,0,0,green,green
172,Tonga,6,2,1,0,10,1,0,0,2,...,0,1,0,0,0,0,0,0,white,red
176,Turks-Cocos-Islands,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,0,white,blue
177,Tuvalu,6,2,0,0,1,1,0,0,5,...,1,1,9,0,0,0,0,0,white,blue
182,US-Virgin-Isles,1,4,0,0,1,1,0,0,6,...,0,0,0,0,0,1,1,1,white,white
185,Vanuatu,6,2,15,0,6,1,0,0,4,...,0,0,0,0,1,0,1,0,black,green
186,Vatican-City,3,1,0,0,6,0,2,0,4,...,0,0,0,0,0,1,0,0,gold,white
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red

In [16]:
data[dummies].agg(['min','max', 'nunique', 'mean'])

,red,green,blue,gold,white,black,orange,crescent,triangle,icon,animate,text
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
nunique,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,0.78866,0.469072,0.510309,0.469072,0.752577,0.268041,0.134021,0.056701,0.139175,0.252577,0.201031,0.082474

In [17]:
dummies

['red',
 'green',
 'blue',
 'gold',
 'white',
 'black',
 'orange',
 'crescent',
 'triangle',
 'icon',
 'animate',
 'text']

In [23]:
data[continious]

,area,population,bars,stripes,colours,circles,crosses,saltires,quarters,sunstars
0,648,16,0,3,5,0,0,0,0,1
1,29,3,0,0,3,0,0,0,0,1
2,2388,20,2,0,3,0,0,0,0,1
3,0,0,0,0,5,0,0,0,0,0
4,0,0,3,0,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
189,3,0,0,0,3,0,0,0,1,5
190,256,22,0,3,4,0,0,0,0,1
191,905,28,0,0,4,1,0,0,0,0
192,753,6,3,0,4,0,0,0,0,0
193,391,8,0,7,5,0,0,0,0,1

In [25]:
y = data[target]
y

0      2
1      6
2      2
3      1
4      0
      ..
189    1
190    6
191    5
192    5
193    5
Name: religion, Length: 194, dtype: int64

In [26]:
y.value_counts()

religion
1    60
0    40
2    36
5    27
6    15
3     8
4     4
7     4
Name: count, dtype: int64

In [40]:
X = pd.concat([data[continious], data[dummies],
               pd.get_dummies(data[categoricals])],
               axis=1
             )
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 48 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   area             194 non-null    int64
 1   population       194 non-null    int64
 2   bars             194 non-null    int64
 3   stripes          194 non-null    int64
 4   colours          194 non-null    int64
 5   circles          194 non-null    int64
 6   crosses          194 non-null    int64
 7   saltires         194 non-null    int64
 8   quarters         194 non-null    int64
 9   sunstars         194 non-null    int64
 10  red              194 non-null    int64
 11  green            194 non-null    int64
 12  blue             194 non-null    int64
 13  gold             194 non-null    int64
 14  white            194 non-null    int64
 15  black            194 non-null    int64
 16  orange           194 non-null    int64
 17  crescent         194 non-null    int64
 18  triangle         194 non-null    int64
 19  icon             194 non-null    int64
 20  animate          194 non-null    int64
 21  text             194 non-null    int64
 22  landmass         194 non-null    int64
 23  zone             194 non-null    int64
 24  language         194 non-null    int64
 25  mainhue_black    194 non-null    bool
 26  mainhue_blue     194 non-null    bool
 27  mainhue_brown    194 non-null    bool
 28  mainhue_gold     194 non-null    bool
 29  mainhue_green    194 non-null    bool
 30  mainhue_orange   194 non-null    bool
 31  mainhue_red      194 non-null    bool
 32  mainhue_white    194 non-null    bool
 33  topleft_black    194 non-null    bool
 34  topleft_blue     194 non-null    bool
 35  topleft_gold     194 non-null    bool
 36  topleft_green    194 non-null    bool
 37  topleft_orange   194 non-null    bool
 38  topleft_red      194 non-null    bool
 39  topleft_white    194 non-null    bool
 40  botright_black   194 non-null    bool
 41  botright_blue    194 non-null    bool
 42  botright_brown   194 non-null    bool
 43  botright_gold    194 non-null    bool
 44  botright_green   194 non-null    bool
 45  botright_orange  194 non-null    bool
 46  botright_red     194 non-null    bool
 47  botright_white   194 non-null    bool
dtypes: bool(23), int64(25)
memory usage: 42.4 KB

In [43]:
# подговим данные для обучения
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(n_splits=1,   # количество итераций повторной перетасовки и разделения
                             test_size=0.2,
                             random_state=42
                            )
sss

StratifiedShuffleSplit(n_splits=1, random_state=42, test_size=0.2,
            train_size=None)

In [44]:
sss.get_n_splits(X, y)

1

In [46]:
X.head()

,area,population,bars,stripes,colours,circles,crosses,saltires,quarters,sunstars,...,topleft_red,topleft_white,botright_black,botright_blue,botright_brown,botright_gold,botright_green,botright_orange,botright_red,botright_white
0,648,16,0,3,5,0,0,0,0,1,...,False,False,False,False,False,False,True,False,False,False
1,29,3,0,0,3,0,0,0,0,1,...,True,False,False,False,False,False,False,False,True,False
2,2388,20,2,0,3,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,True
3,0,0,0,0,5,0,0,0,0,0,...,False,False,False,False,False,False,False,False,True,False
4,0,0,3,0,3,0,0,0,0,0,...,False,False,False,False,False,False,False,False,True,False

In [47]:
y.head()

0    2
1    6
2    2
3    1
4    0
Name: religion, dtype: int64

In [49]:
for i, (train_index, test_index) in enumerate(sss.split(X, y)):
    print(f'Fold {i}:')
    print(f'  Train: index={train_index}')
    print(f'  Test:  index={test_index}')

Fold 0:
  Train: index=[118  73 193  23 134 104  84 123 144  45 173  40 130   5  52 190 128  81
   9  50 174 147  65 178 107  41  26  17  33  11 110  16 172 156 113 109
 164 122   0 136  62  56 154 145  94  49 152  67  46  72  19  20 124 119
 158  21 137  97 114  22 175  31 148  83   7  54 183 108  87 138  88 177
   2  63  18 155  92 162 146 187 139 160 191  79  12  13 184 153  66 181
   3 102   8 116  91 159  95 143  77  14  64 163 103  37 182  86 150 168
  89 106   4 176  99 140  60 125 161 179  48 121 131  36 157 112 117 166
 129 120  15 135 151 149 185  58  93  98  34 126 180  96  61 142 141   1
 100  90  53 192  68  38  71  30  78  39  75]
  Test:  index=[ 28  44  32  55  29 165  59  43 170 167 132  85 115  24 127  70 189 188
 111 133  69  27   6  80  42 186  10  51 169  57 105 171 101  82  47  35
  25  76  74]